---
layout: default
---
<div id="main">
  <section>
    {% for post in site.posts %}
      {% if post.title == 'Primary' %}
        <header>
          <h1>{{ post.title }}</h1>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %}&nbsp; • &nbsp;{{ post.author }}{% endif %}{% if page.meta %}&nbsp; • &nbsp;{{ page.meta }}{% endif %}</p>
        </header>
        <section>
          {{ post.content }}
          <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="button"><strong>&#9998;</strong> Edit post</a></p>
        </section>
      {% endif %}
    {% endfor %}
  </section>

  <section>
    <div class="row">
      {% for post in site.posts %}
        {% if post.title != 'Primary' %}
        <article class="{% cycle '6u', '6u$' %} 12u(small)">
          <header>
            <hr class="divide">
            <h2><a href="{{ post.url }}" class="hover">{{ post.title }}</a></h2>
          </header>
          <section>
            <a href="{{ post.url }}" class="fade">{{ post.excerpt }}</a>
          </section>
          <footer>
            <ul class="actions">
              <li class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="button"><strong>&#9998;</strong> Edit post</a></li>
            </ul>
            <hr class="divide">
          </footer>
        </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <script src="/js/theme.post.js"></script>
</div>
