---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %}&nbsp; • &nbsp;{{ page.author }}{% endif %}{% if page.meta %}&nbsp; • &nbsp;{{ page.meta }}{% endif %}</p>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <div class="row">
      {% if page.previous %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
          <header>
            <hr class="divide">
            <h2><a href="{{ page.previous.url }}" class="hover"><fade>Prev</fade>
              {{ page.previous.title }}</a></h2>
          </header>
          <section>
            <a href="{{ page.previous.url }}" class="fade">{{ page.previous.excerpt }}</a>
          </section>
          <footer>
            <hr class="divide">
          </footer>
        </article>
      {% endif %}

      {% if page.next %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
          <header>
            <hr class="divide">
            {% if page.next.next %}
            <h2><a href="{{ page.next.url }}" class="hover"><fade>Next</fade>
              {{ page.next.title }}</a></h2>
            {% else %}
            <h2><a href="{{ page.next.url }}" class="hover"><fade>Latest</fade>
              {{ page.next.title }}</a></h2>
            {% endif %}
          </header>
          <section>
            <a href="{{ page.next.url }}" class="fade">{{ page.next.excerpt | markdownify }}</a>
          </section>
          <footer>
            <hr class="divide">
          </footer>
        </article>
      {% endif %}
      </div>
    </footer>
  </article>
</div>
